**/bin/
**/obj/
**/node_modules/
**/db/
**/screenshots/
**/*.db
**/*.db-shm
**/*.db-wal
**/*.pfx
**/*.pem

.git
.github
.idea
.vs
*.user
*.DotSettings.user
.DS_Store

tests/
src/Cerebro.Agent/
img/
*.md
